////////////
// Colors //
////////////

$blue: #004358;
$green: #1F8A70;
$yellow: #BEDB39;
$red: #FF5347;
$orange: #FD7400;
$white: #efefef;
$black: #222;

.blue   { background-color: $blue; }
.green  { background-color: $green; }
.yellow { background-color: $yellow; }
.red    { background-color: $red; }
.orange { background-color: $orange; }
.white  { background-color: $white; }
.black  { background-color: $black; }

////////////
// Mixins //
////////////

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}

*,
*:after,
*:before {
  @include box-sizing(border-box);
}

///////////
// Board //
///////////

body {
    margin: 0;
    background-color: $black;
    width: 100%;
    height: 100%;
    background-color: $black;
}

#board,
#container {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
}

#time {
    position: fixed;
    left: 10px;
    top: 10px;

    p {
        font-size: 16px;
        font-family: Helvetica, sans-serif;
        color: white;
        padding: 0;
        margin: 0;
    }
}

///////////
// Cells //
///////////

.cell {
    display: inline;
    position: fixed;
    margin: 0;
}

.dead {
    background-color: #222;
}
