.blue {
  background-color: #004358; }

.green {
  background-color: #1f8a70; }

.yellow {
  background-color: #bedb39; }

.red {
  background-color: #ff5347; }

.orange {
  background-color: #fd7400; }

.white {
  background-color: #efefef; }

.black {
  background-color: #222222; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: #222222;
  width: 100%;
  height: 100%; }

#board {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #222222; }

.cell {
  position: absolute;
  margin: 0; }

.dead {
  display: none; }
